:root{
    --vermelho: #ba1308;
    --vermelhoescuro: #6f0d07;
    --cinza: #121212;
    --cinzaclaro: #1d1d1d;
    --branco: #fffaff;
    --corMenu: rgba(248, 44, 44, 0.5); /* opacidade */
    --laranja: orange;
    --preto: black;
    --amarelo: rgb(241, 238, 18);
}

*, :root { /* root seleciona o documento raíz */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cinza);
    color: var(--branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--vermelho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* menu fixo */
    position: sticky;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--cinzaclaro);
}
::-webkit-scrollbar-thumb{
    background-color: var(--vermelho);
    border-radius: 10px;
}

