:root{
    --vermelho: #F82C2C;
    --cinza: #121212;
    --cinzaclaro: #1d1d1d;
    --branco: #f9f6f6;
    --corMenu: rgba(248, 44, 44, 0.5); /* opacidade */
}

*, :root { /* root seleciona o documento raíz */
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cinza);
    color: var(--branco);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: var(--vermelho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* menu fixo */
    position: sticky;
    top: 0;
    z-index: 1;
}

#btnMenu{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav a{
    text-decoration: none;
    color: var(--branco);
    font-size: larger;
    margin: 0px 12px; /* top bottom / right left*/
}

h2{
    margin: 2rem;
}

#movieOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#movieOptions img{ /* diminui o tamanho da imagem */
    border-radius: 20px;
    max-width: 20%;
}
#menu{
    position: fixed;
    right: 0;
    display: flex;
}

.section{
    width: 100%;
}
.info{
    background-color: var(--cinzaclaro);
    padding: 14px 50px;
    border-radius: 10px;
    
    position: absolute;
    margin: 40px 0;
    left: 50%;
    transform: translateX(-50%);

}
#banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner img{
    width: 100%;
    object-fit: cover;
}

@media (max-width:630px){
    .info{
        z-index: 0;
    }
    #btnMenu, h1{
        display: flex;
        z-index: 3; /* elemento na frente */
    }
    #menu{ /* menu sem classe */
        /* Centralizar no meio da tela */
        z-index: 2;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);

        background-color: var(--corMenu); /* opacidade */
        width: 100%;
        height: 100%;

    }
    #menu.show-menu { /* menu com classe */
        display: flex;
    }
    #menu a{
        display: block;
        margin: 20px 0; /* top bottom / right left */
    }
    #movieOptions{
        justify-content: start;
        margin: 5px;
        overflow-x: scroll;
    }
    #movieOptions img{
        max-width: 50%;
    }
    .info{
        font-size: 12px;
    }
    #banner{
        height: auto;
    }

}
