#btnMenu{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav a{
    text-decoration: none;
    color: var(--branco);
    font-size: larger;
    margin: 0px 12px; /* top bottom / right left*/
}

h2{
    margin: 4rem 2rem;
}

#movieOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#movieOptions img{ /* diminui o tamanho da imagem */
    border-radius: 20px;
    max-width: 20%;
}
#menu{
    position: fixed;
    right: 0;
    display: flex;
}
#banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner img{
    width: 100%;
    object-fit: cover;
}
.movie{
    filter: saturate(30%);
}
.movie:hover{
    filter: saturate(100%);
    transform: scale(1.015);
    border: 1px solid var(--branco);
}
#news {
    display: flex; /* Usando flexbox para alinhar os elementos lado a lado */
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
}
#notice,#notice2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    margin: 0 10px; /* Adiciona um espaçamento entre os itens */
    width: 300px;
    height: 300px;
    background-color: var(--cinzaclaro);
    border-radius: 20px;
    filter: saturate(30%);
}
#notice img, #notice2 img {
    width: 300px;
    height: 250px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.text, .text2{
    margin-top: 10px;
}
#notice:hover, #notice2:hover{
    border: 1px solid var(--branco);
    filter: saturate(100%);
}
footer{
    background-color: var(--vermelho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
    margin-top: 4rem;
}
#icons, #icons a{
    padding: 20px;
    font-size: larger;
    color: var(--vermelhoescuro);
}

a:hover, a i:hover{
    color: var(--cinzaclaro);
}

@media (max-width:660px){
    #btnMenu, h1{
        display: flex;
        z-index: 2;
    }
    #menu{ /* menu sem classe */
        /* Centralizar no meio da tela */
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);

        background-color: var(--corMenu);
        width: 100%;
        height: 100%;

    }
    #menu.show-menu { /* menu com classe */
        display: flex;
    }
    #menu a{
        display: block;
        margin: 20px 0; /* top bottom / right left */
    }
    #movieOptions{
        justify-content: start;
        margin: 5px;
        overflow-x: scroll;
    }
    #movieOptions img{
        max-width: 50%;
    }
    #banner{
        height: auto;
    }
    #news{
        overflow-x: scroll;
    }
    footer p{
        font-size: smaller;
    }

}
